.dl_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dl_txt {
  color: #6176A0;
  margin-right: 0.25rem;
}
.dl_gray {
  color: #9B9B9B;
}
.dl_space {
  margin-left: 0.5rem;
}