.collection {

    .collection-header {
        position: fixed;
        width: 100%;
        z-index: 999;

        a {
            top: 0.25rem;
        }
    }

    .collection-list {
        height: 100%;
        padding: 2.2rem 0.75rem 0;

        .group-course {
            li {
                border-bottom: 1px solid #E7E7E7;
                margin-bottom: 0.75rem;
            }
        }
    }
}