
.course-fav{
    padding-bottom:0.75rem;
    img{
        margin-right:.25rem;
    }
    a.button{
        width: 3.5rem;
    }
}
.one-course{
    position: relative;
    .pays-v{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12rem;
        min-height: 12rem;
        padding: 0 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        a{
            width:45%;
        }
        .gold-border-btn{
            background-color:transparent;
        }
        p{
            text-align: center;
            color: #fff;
            margin-top: -2rem;
        }
    }
    .pays-btn{
        width:100%;
        display: flex;
        margin-top:1rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .pays-footer{
        position: fixed;
        z-index: 6;
        bottom: 0;
        left: 0;
        width:100%;
        background-color: #fff;
        padding: .5rem .75rem;
        .btn-size-normaler{
            height:3.5rem;
            line-height: 1.5;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 6rem;
        }
    }
    .media{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:-1px;
    }
    .p-headers{
        .buttons-tab{
            border-width: 0;
        }
    }
}
.course-vip{
    width:100%;
    min-height: 2.28rem;
    padding:0 .75rem;
    position: relative;
    margin:1.25rem auto .75rem;
    .icon-vip-btn{
        position: relative;
        width:100%;
        height:100%;
        min-height: 2.25rem;
    }
    svg{
        border-radius: .25rem;
    }
    div{
        padding: 0;
        position: absolute;
        width:100%;
        height: 100%;
    }
    a.button{
        line-height: 1.45;
        border-width: 0;
        display: flex;
        span{
            font-size: .5rem;
        }
    }
    a.button.intr{
        color:#fff;
        text-align: left;
        flex:1.5;
        .money{
            font-weight:700;
        }
        .fs-small{
            font-size: .65rem;
        }
    }
    a.button.open{
        justify-content: center;
        align-items: center;
        flex:1;
        color:#ECC89A;
        font-size: .8rem;
        font-weight: 700;
    }
}
.course-intr{
    // padding:.75rem;
    .state,.desc{
        text-align: left;
    }
    .title{
        align-items: center;
        position: relative;
        font-size:.8rem;
         font-weight: bold;
    }
}
.course-page-item{
    margin:.75rem 0;
}
.course-share-top{
    width:100%;
    height:5.5rem;
    position: relative;
    background: red;
    background-image: url(/static/images/share/red@2x.png);
    background-size: cover;
    .desc{
        color:#fff;
        position: absolute;
        top:0;
        right: .75rem;
        text-decoration: underline;
    }
    .grab-title{
        align-self: center;
        align-items: center;
        width:70%;
        position: relative;
    }
    .grab-title-desc{
        color: #BF3142;
        font-size: .8rem;
        font-weight: bold;
        position: absolute;
    }
    .course-share-top-modal{
        width:85%;
        height: 80%;
        overflow-y: auto;
        align-items: center;
        align-self: center;
        position: absolute;
        .grab-title{
            width:100%;
            position: absolute;
        }
        img{
            width:90%;
            height: auto;
        }
        .cm-content{
            width:100%;
            height: 100%;
            overflow-y: auto;
            background-color: #fff;
            border-radius: .25rem;
            padding:1.5rem .75rem .75rem .55rem;
            margin-bottom:.5rem;
            margin-top: 1.5rem;
        }
        .course-share-top-item{
            margin-bottom:.75rem;
            .avator-small{
                overflow: hidden;
                margin-right: .75rem;
            }
            .grab-time{
                flex:1;
                align-items: flex-end;
            }
        }
    }
}

.course-list-item{
    padding:0 .75rem;
    .course-fav{
        padding-left: 0;
        padding-right: 0;
    }
    .home-course-banner{
        margin-top:0 !important;
    }
}
.course-list-item.home-course-box{
    margin-top:0;
}